@use 'variables';

.event{

    padding: 80px 0px;

    &--frontend{
        background-image: linear-gradient(variables.$colorGradient1, variables.$colorGradient2);
    }

    &--backend{
        background-image: linear-gradient(variables.$colorGradient2, variables.$colorGradient3);
    }

    &--ux-ui{
        background-image: linear-gradient(variables.$colorGradient3, variables.$colorGradient4);
    }

    &--data-science{
        background-image: linear-gradient(variables.$colorGradient4, variables.$colorGradient3);
    }

    &--image-left{
        .container{
            flex-direction: row-reverse;
        }
    }
    

    .container{
        display: flex;
        gap: 40px;
    }

    &__image{
        max-width: 360px;
    }

    &__details{
        &__title{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description{
            line-height: 22px;
        }
    }

    @media (max-width:640px){

        .container{
            display: block;
        }
        
        &__image{
            width: 90%;
            margin: 0 auto;
            display: block;
        }

        &__details{
            text-align: center;
            margin: 0 16px 16px;
        }
    }
}